@use "../custom" as *;

.search-box {
  width: 250px;

  input {
    border: none;
  }

  .search-btn {
    border: none;

    .icon {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $primary;

      .icon {
        color: $secondary;
      }
    }
  }
}
