@use "../custom" as *;

.search-box {
  p {
    font-size: 24px;
  }
  input {
    border: none;
    width: 200px;

    @include media-breakpoint-up(md) {
      width: 250px;
    }
  }

  .search-btn {
    border: none;

    .icon {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $primary;

      .icon {
        color: $secondary;
      }
    }
  }
}
